<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="{% static 'css/fontcss/iconfont.css' %}" />
        <link rel="stylesheet" href="{% static 'css/zeroModal.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/coupon.css' %}" />
		<title>优惠券列表</title>
	</head>
	<body>
		<header id="couponHeader">
			<div class="nav-back">
				<a href="javascript:history.back(-1);"> <i class="icon iconfont icon-jtleft"></i> </a>
			</div>
			<p class="nav-title">优惠券列表</p>
		</header>
		<div class="coupon-main">
            {% if coupon %}
                {% for c in coupon %}
                    <div class="coupon-item">
                        <a class="coupon" href="/more/coupon{{ c.id }}">
                            <img src="{% static 'img/coupon_bg.png' %}" width="100%" />
                            <div class="coupon-title">
                                <p>{{ c.name }}</p>
                                <p>使用期限 {{ c.start_time }} - {{ c.end_time }}</p>
                            </div>
                            <p class="dis">￥{{ c.dis }}</p>
                            <p class="en">满{{ c.full }}使用</p>
                        </a>
                        {% if is_receive %}
                            <a class="confirmBtn" data-id="{{ c.id }}">确认领取</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center; margin-top: 50px; font-size: 16px;">{% if is_receive %}您还没有可领取的优惠券哦～{% else %}您还未拥有优惠券，赶紧去领取吧！{% endif %}</p>
			{% endif %}
		</div>
	</body>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/zeroModal.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
    <script>
        $(function () {
           $('.confirmBtn').click(function () {
               var $_t = $(this);
              $.get('',{cid:$_t.data('id')},function () {
                  zeroModal.alert({
                      content: '优惠券领取成功，尽情购物吧！',
                      width:'80%',
                      height:'260px'
                  });
              });
           });
        });
    </script>
</html>