<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="{% static 'css/fontcss/iconfont.css' %}" />
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'css/login.css' %}" />
		<title>商品详情</title>
	</head>

	<body>
		<header id="loginHeader">
			<div class="nav-back">
				<a href="javascript:history.back(-1);"> <i class="icon iconfont icon-jtleft"></i> </a>
			</div>
			<p class="nav-title">{% if status == 'find' %}找回{% else %}修改{% endif %}密码</p>
		</header>
		<section class="find-main">
			<div class="find-first">
				<form id="findPwd1Form" action="" method="post">
                    {% csrf_token %}
					<div class="form-group">
						<input type="tel" name="tel" id="findTel" placeholder="请输入要{% if status == 'find' %}找回{% else %}修改{% endif %}密码的手机号" />
						<i class="icon iconfont icon-cha"></i>
					</div>
					<div class="form-group form-group-verify">
                        {{ find_form.captcha }}
						<i class="icon iconfont icon-cha"></i>
					</div>
					<div class="error-info none">
						<i class="icon iconfont icon-jian"></i> <span></span>
					</div>
					<a class="btn" id="findFirstSub">下一步</a>
					<div class="form-bottom">
						<div class="pull-right find-back-login">
							<a href="{% url 'login' %}">返回登录 <i class="icon iconfont icon-denglu"></i></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</section>
	</body>
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'js/login.js' %}"></script>
    <script>
        $('#findFirstSub').click(function () {
            $.post("",$('#findPwd1Form').serialize(),function (data) {
                if(data.msg == 'success'){
                    location.replace('http://'+location.hostname+':'+location.port+'/find_pwd2/{{ status }}');
                }else{
                    $('.error-info').removeClass('none').find('span').text(data.msg);
                }
            });
        });
    </script>
</html>
